<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zy.dao.ProductMapper">

	<resultMap type="com.zy.domain.Product" id="ProductMap">
		<result property="id" column="id"/>
		<result property="name"  column="name"/>
		<result property="price" column="price"/>
		<result property="createtime" column="createtime"/>
		<result property="detail" column="detail"/>
		<association property="categories" select="queryCategories" column="id"></association>
	</resultMap>

	<select id="queryProduct" resultMap="ProductMap">
		select * from product where id=#{id}
	</select>
	
	<select id="queryProducts" resultMap="ProductMap">
		select * from product
	</select>
	
	<!-- 添加产品时，将自动生成的主键id注入到product对象 -->
	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="id">
		insert into product(name,price,createtime,detail) 
		values 
		(#{name},#{price},#{createtime},#{detail})
	</insert>
	
	<insert id="insertProductCategory">
		insert into product_category(pid,cid)
		values
		<foreach collection="cids" item="cid" separator=",">
			(#{pid},#{cid})
		</foreach>
	</insert>
	
	<delete id="deleteProduct">
		delete from product where id=#{id}
	</delete>
	
	<delete id="deleteProductCategory">
		delete from product_category where pid=#{pid}
	</delete>
	
	<update id="updateProduct">
		update product 
		set name=#{name},price=#{price},createtime=#{createtime},detail=#{detail} 
		where id=#{id}
	</update>
	
	<!-- 中间表、分类表 连接查询，查到分类信息 -->
	<select id="queryCategories" resultType="com.zy.domain.Category">
		select c.* from product_category pc,category c 
		where pc.cid=c.id and pc.pid=#{pid}
	</select>
	
	<select id="queryAllCategory" resultType="com.zy.domain.Category">
		select * from category
	</select>
</mapper>